

<div class="page-content sidebar-page right-sidebar-page clearfix">
  <div class="page-content-wrapper">
    <div class="page-content-inner">
      <div id="page-header" class="clearfix">
        <div class="page-header">
              <h2><span>VENDOR PORTAL:</span> VENDOR NAME</h2>
              <span class="txt">Welcome to Dynamic admin</span>
        </div>
        <div class="spark clearfix">
              <div class="spark-info"><span class="number">2345</span>Visitors</div>
              <div id="spark-visitors" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
              <div class="spark-info"><span class="number">17345</span>Views</div>
              <div id="spark-templateviews" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
              <div class="spark-info"><span class="number">3700$</span>Sales</div>
              <div id="spark-sales" class="sparkline"></div>
        </div>
      </div>
     
     	<div class="row">
        <div class="col-xs-12">
        	<h3>New product Type</h3>
						<%= render 'form' %>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 product-link ">
						<%= link_to 'Back', product_types_path %>
          </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .product-link{
    width: 100%;
    margin: 10px;
  }
</style>



