<div id="page-header" class="clearfix">
  <div class="page-header">
    <h2>Data tables</h2>
    <span class="txt">Represent big amount of data</span>
  </div>
  <div class="header-stats">
    <div class="spark clearfix">
      <div class="spark-info"><span class="number">2345</span>Visitors</div>
      <div id="spark-visitors" class="sparkline"></div>
    </div>
    <div class="spark clearfix">
      <div class="spark-info"><span class="number">17345</span>Views</div>
      <div id="spark-templateviews" class="sparkline"></div>
    </div>
    <div class="spark clearfix">
      <div class="spark-info"><span class="number">3700$</span>Sales</div>
      <div id="spark-sales" class="sparkline"></div>
    </div>
  </div>
</div>
<!-- Start .row -->
<div class="row">

  <div class="col-lg-12">
    <!-- col-lg-12 start here -->
    <div class="panel panel-default toggle panelMove panelClose panelRefresh">
      <!-- Start .panel -->
      <div class="panel-heading">
        <h4 class="panel-title">Responsive example</h4>
      </div>
      <div class="panel-body">
        <table id="responsive-datatables" class="table table-bordered table-striped table-hover dt-responsive non-responsive" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Topic</th>
            <!-- <th>Message</th> -->
            <th>Action</th>
          </tr>
          </thead>
          <tbody id="vendor-list">
          <%= render @inquiries %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End .panel -->
  </div>
  <!-- col-lg-12 end here -->
</div>
<div id="back-to-top"><a href="#">Back to Top</a>
</div>

<script>
    window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<script type="text/javascript">


</script>

