<% if message.starred %>
    <div class="email_starred">
      <%= link_to '#', class: 'link_star', :'data-message-id' => message.id, title: 'Not marked.' do %>
          <i class="fa fa-star starred_true" aria-hidden="true"></i>
      <% end %>
    </div>
<% else %>
    <div class="email_starred">
      <%= link_to '#', class: 'link_star', :'data-message-id' => message.id, title: 'Marked.' do %>
          <i class="fa fa-star-o starred_false" aria-hidden="true"></i>
      <% end %>
    </div>
<% end %>

<% if message.important %>
    <div class="important_email">
      <%= link_to '#', class: 'link_important', :'data-message-id' => message.id, title: 'To note as not important.' do %>
          <i class="fa fa-info-circle important_true" aria-hidden="true"></i>
      <% end %>
    </div>
<% else %>
    <div class="important_email">
      <%= link_to '#', class: 'link_important', :'data-message-id' => message.id, title: 'To note as not important.' do %>
          <i class="fa fa-info-circle important_false" aria-hidden="true"></i>
      <% end %>
    </div>
<% end %>
