<%= tinymce_assets %>
<!--<div class="page-content-wrapper row pg_top">-->
  <!--<div class="container">-->
    <!--<%#= render 'form' %>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="page-content-wrapper row pg_top">
  <div class="container">
    <div class="inbox">
      <%= render 'site_bar' %>
      <div class="right_block">
        <%= render 'header_buttons' %>
        <div class="new_message_form">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
