<div class="page-content-wrapper row pg_top">
  <div class="container">
    <p>To: <%= @message.to %></p>
    <p>Subject: <%= @message.subject %></p>
    <p>Body: <%= @message.body %></p>
  </div>
</div>
