<!--<div class="page-content sidebar-page right-sidebar-page clearfix">-->
  <!-- .page-content-wrapper -->
  <!--<div class="page-content-wrapper">-->
    <!--<div class="page-content-inner">-->
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Tables</h2>
          <span class="txt">Basic html tables</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
              <h4 class="panel-title">Basic table</h4>
            </div>
            <div class="panel-body">
              <table class="table">
                <thead>
                <tr>
                  <th class="per5">
                    <div class="checkbox-custom">
                      <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                      <label for="masterCheck"></label>
                    </div>
                  </th>
                  <th class="per35">Employe</th>
                  <th class="per15">Position</th>
                  <th class="per15">Salary</th>
                  <th class="per35">Contract</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check" class="check" type="checkbox" value="option2">
                      <label for="check"></label>
                    </div>
                  </td>
                  <td>Jacob Olsen</td>
                  <td>Developer</td>
                  <td>2530$</td>
                  <td>
                    <div class="progress animated-bar">
                      <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="40">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check1" class="check" type="checkbox" value="option3">
                      <label for="check1"></label>
                    </div>
                  </td>
                  <td>Lara James</td>
                  <td>SEO</td>
                  <td>3700$</td>
                  <td>
                    <div class="progress animated-bar">
                      <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="80">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check2" class="check" type="checkbox" value="option4">
                      <label for="check2"></label>
                    </div>
                  </td>
                  <td>Steve Sidwell</td>
                  <td>Photographer</td>
                  <td>1340$</td>
                  <td>
                    <div class="progress animated-bar">
                      <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="67">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check3" class="check" type="checkbox" value="option5">
                      <label for="check3"></label>
                    </div>
                  </td>
                  <td>Elena Dobrev</td>
                  <td>Project manger</td>
                  <td>5600$</td>
                  <td>
                    <div class="progress animated-bar">
                      <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="7">
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <!-- Start .row -->
        <div class="col-lg-6 col-md-6">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default plain toggle panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
              <h4 class="panel-title">Stripped table</h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="per5">
                    <div class="checkbox-custom">
                      <input id="masterCheck1" class="check-all" type="checkbox" value="option1">
                      <label for="masterCheck1"></label>
                    </div>
                  </th>
                  <th class="per40">Employe</th>
                  <th class="per40">Position</th>
                  <th class="per15">Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check4" class="check" type="checkbox" value="option2">
                      <label for="check4"></label>
                    </div>
                  </td>
                  <td>Jacob Olsen</td>
                  <td>Developer</td>
                  <td>2530$</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check5" class="check" type="checkbox" value="option3">
                      <label for="check5"></label>
                    </div>
                  </td>
                  <td>Lara James</td>
                  <td>SEO</td>
                  <td>3700$</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check6" class="check" type="checkbox" value="option4">
                      <label for="check6"></label>
                    </div>
                  </td>
                  <td>Steve Sidwell</td>
                  <td>Photographer</td>
                  <td>1340$</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox-custom">
                      <input id="check7" class="check" type="checkbox" value="option5">
                      <label for="check7"></label>
                    </div>
                  </td>
                  <td>Elena Dobrev</td>
                  <td>Project manger</td>
                  <td>5600$</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default plain toggle panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
              <h4 class="panel-title">Hover table</h4>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th class="per5">
                    #
                  </th>
                  <th class="per40">Employe</th>
                  <th class="per40">Position</th>
                  <th class="per15">Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>Jacob Olsen</td>
                  <td>Developer</td>
                  <td>2530$</td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>Lara James</td>
                  <td>SEO</td>
                  <td>3700$</td>
                </tr>
                <tr>
                  <td>
                    3
                  </td>
                  <td>Steve Sidwell</td>
                  <td>Photographer</td>
                  <td>1340$</td>
                </tr>
                <tr>
                  <td>
                    4
                  </td>
                  <td>Elena Dobrev</td>
                  <td>Project manger</td>
                  <td>5600$</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <!-- Start .row -->
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default plain toggle panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
              <h4 class="panel-title">Table bordered</h4>
            </div>
            <div class="panel-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="per5">
                    #
                  </th>
                  <th class="per40">Employe</th>
                  <th class="per40">Position</th>
                  <th class="per15">Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>Jacob Olsen</td>
                  <td>Developer</td>
                  <td>2530$</td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>Lara James</td>
                  <td>SEO</td>
                  <td>3700$</td>
                </tr>
                <tr>
                  <td>
                    3
                  </td>
                  <td>Steve Sidwell</td>
                  <td>Photographer</td>
                  <td>1340$</td>
                </tr>
                <tr>
                  <td>
                    4
                  </td>
                  <td>Elena Dobrev</td>
                  <td>Project manger</td>
                  <td>5600$</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->
    <!--</div>-->
    <!-- End .page-content-inner -->
  <!--</div>-->
  <!-- / page-content-wrapper -->
<!--</div>-->
<%= javascript_include_tag 'tables-basic' %>