<!-- .page-content -->
<!--<div class="page-content sidebar-page right-sidebar-page clearfix">-->
  <!-- .page-content-wrapper -->
  <!--<div class="page-content-wrapper">-->
    <!--<div class="page-content-inner">-->
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Flot charts</h2>
          <span class="txt">Rich library to visualize data</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-12 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Line chart</h4>
            </div>
            <div class="panel-body">
              <div id="line-chart" style="width: 100%; height:250px;"></div>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Line charts filled</h4>
            </div>
            <div class="panel-body">
              <div id="line-chart-filled" style="width: 100%; height:250px;"></div>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Stacked Bars chart</h4>
            </div>
            <div class="panel-body">
              <div id="bars-chart" style="width: 100%; height:250px;"></div>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Pie chart</h4>
            </div>
            <div class="panel-body">
              <div id="pie-chart" style="width: 100%; height:250px;"></div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-12 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Line chart with dots</h4>
            </div>
            <div class="panel-body">
              <div id="line-chart-dots" style="height: 250px; width:100%;"></div>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Auto update chart</h4>
            </div>
            <div class="panel-body">
              <div id="auto-update-chart" style="width: 100%; height:250px;"></div>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Ordered Bars chart</h4>
            </div>
            <div class="panel-body">
              <div id="ordered-bars-chart" style="width: 100%; height:250px;"></div>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Donut chart</h4>
            </div>
            <div class="panel-body">
              <div id="donut-chart" style="width: 100%; height:250px;"></div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
    <!--</div>-->
    <!-- End .page-content-inner -->
  <!--</div>-->
  <!-- / page-content-wrapper -->
<!--</div>-->
<!-- / page-content -->
<%= javascript_include_tag 'charts-flot' %>
