<!--<div class="page-content sidebar-page right-sidebar-page clearfix">-->
  <!-- .page-content-wrapper -->
  <!--<div class="page-content-wrapper">-->
    <!--<div class="page-content-inner">-->
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Form wizard</h2>
          <span class="txt">Easy populate forms step by step</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-magic"></i> Form wizard</h4>
            </div>
            <div class="panel-body pt0 pb0">
              <div id="wizard" class="bwizard">
                <!-- Start .bwizard -->
                <ul class="bwizard-steps">
                  <li class="active">
                    <a href="#tab1" data-toggle="tab">
                      <span class="step-number">1</span>
                      <span class="step-text">Personal Info</span>
                    </a>
                  </li>
                  <li>
                    <a href="#tab2" data-toggle="tab">
                      <span class="step-number">2</span>
                      <span class="step-text">Contact Info</span>
                    </a>
                  </li>
                  <li>
                    <a href="#tab3" data-toggle="tab">
                      <span class="step-number">3</span>
                      <span class="step-text">Account Info</span>
                    </a>
                  </li>
                </ul>
                <form class="form-horizontal" role="form">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">First Name</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="firstname" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Last Name</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="lastname" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                    </div>
                    <div class="tab-pane" id="tab2">
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Email</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="email" type="email">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Phone number</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="phone" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                    </div>
                    <div class="tab-pane" id="tab3">
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Username</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="username" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Password</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="password" type="password">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Re-type password</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="password_2" type="password">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                    </div>
                  </div>
                </form>
                <ul class="pager">
                  <li class="previous"><a href="#">&larr; Back</a>
                  </li>
                  <li class="next"><a href="#">Next &rarr;</a>
                  </li>
                  <li class="next finish" style="display:none;"><a href="#">Finish</a>
                  </li>
                </ul>
              </div>
              <!-- End .bwizard -->
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-12">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-magic"></i> Form wizard with progressbar</h4>
            </div>
            <div class="panel-body pt0 pb0">
              <div id="wizard1" class="bwizard">
                <!-- Start .bwizard -->
                <ul class="bwizard-steps">
                  <li class="active">
                    <a href="#tab4" data-toggle="tab">
                      <span class="step-number">1</span>
                      <span class="step-text">Personal Info</span>
                    </a>
                  </li>
                  <li>
                    <a href="#tab5" data-toggle="tab">
                      <span class="step-number">2</span>
                      <span class="step-text">Contact Info</span>
                    </a>
                  </li>
                  <li>
                    <a href="#tab6" data-toggle="tab">
                      <span class="step-number">3</span>
                      <span class="step-text">Account Info</span>
                    </a>
                  </li>
                </ul>
                <div class="wizard-progress">
                  <div id="bar" class="progress">
                    <div class="progress-bar"></div>
                  </div>
                </div>
                <form class="form-horizontal" role="form">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab4">
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">First Name</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="firstname" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Last Name</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="lastname" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                    </div>
                    <div class="tab-pane" id="tab5">
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Email</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="email" type="email">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Phone number</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="phone" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                    </div>
                    <div class="tab-pane" id="tab6">
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Username</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="username" type="text">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Password</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="password" type="password">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Re-type password</label>

                        <div class="col-lg-10 col-md-9">
                          <input class="form-control" name="password_2" type="password">
                        </div>
                      </div>
                      <!-- End .control-group  -->
                    </div>
                  </div>
                </form>
                <ul class="pager">
                  <li class="previous"><a href="#">&larr; Back</a>
                  </li>
                  <li class="next"><a href="#">Next &rarr;</a>
                  </li>
                  <li class="next finish" style="display:none;"><a href="#">Finish</a>
                  </li>
                </ul>
              </div>
              <!-- End .bwizard -->
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
    <!--</div>-->
    <!-- End .page-content-inner -->
  <!--</div>-->
  <!-- / page-content-wrapper -->
<!--</div>-->

<%= javascript_include_tag 'forms-wizard' %>