<!--<div class="page-content sidebar-page right-sidebar-page clearfix">-->
  <!-- .page-content-wrapper -->
  <!--<div class="page-content-wrapper">-->
    <!--<div class="page-content-inner">-->
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Gallery</h2>
          <span class="txt">Fancy way to manage your media.</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div id="checkAll-active" class="col-lg-10">
          <!-- col-lg-10 start here -->
          <div class="page-header gallery-category-name">
            <h5>All images</h5>

            <div class="page-header-controls">
              <div class="btn-group" role="group">
                <div class="checkbox-custom mt0">
                  <input class="check-all" type="checkbox" value="option" id="masterCheckbox">
                  <label for="masterCheckbox">Select all</label>
                </div>
              </div>
              <div class="btn-group" role="group">
                <a href="#" class="btn btn-link"><i class="fa fa-trash-o mr5"></i>Trash</a>
              </div>
            </div>
          </div>
          <div class="row gallery sortable-layout">
            <!-- Start .row -->
            <div class="col-xs-12 col-md-3">
              <!-- Start .col-md-3 -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>Yachts</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox1">
                      <label for="checkbox1"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/1.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/1.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>Green mountain</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox2">
                      <label for="checkbox2"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/5.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/5.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>Tea cup</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox3">
                      <label for="checkbox3"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/9.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/9.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
            </div>
            <!-- End .col-md-3 -->
            <div class="col-xs-12 col-md-3">
              <!-- Start .col-md-3 -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>Street on big city</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox4">
                      <label for="checkbox4"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/2.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/2.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>Tree House</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox5">
                      <label for="checkbox5"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/6.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/6.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>Vegetables</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox6">
                      <label for="checkbox6"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/10.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/10.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
            </div>
            <!-- End .col-md-3 -->
            <div class="col-xs-12 col-md-3">
              <!-- Start .col-md-3 -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>Small street</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox7">
                      <label for="checkbox7"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/3.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/3.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>The Sea</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox8">
                      <label for="checkbox8"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/7.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/7.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>The Bay</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox9">
                      <label for="checkbox9"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/11.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/11.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
            </div>
            <!-- End .col-md-3 -->
            <div class="col-xs-12 col-md-3">
              <!-- Start .col-md-3 -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>The mountain</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox10">
                      <label for="checkbox10"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/8.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/8.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>The capital</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox11">
                      <label for="checkbox11"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/12.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/12.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
              <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                  <h4 class="panel-title"><strong>The mountain</strong>
                    <small>other desciption</small>
                  </h4>
                  <div class="btn-group" role="group">
                    <div class="checkbox-custom">
                      <input class="check" type="checkbox" value="option" id="checkbox12">
                      <label for="checkbox12"></label>
                    </div>
                    <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                      <i class="fa fa-pencil mr5"></i>Edit
                    </a>
                    <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                  </div>
                </div>
                <div class="panel-body">
                  <a href="/assets/gallery/4.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                    <img class="img-responsive" src="/assets/gallery/4.jpg" alt="image alt">
                  </a>
                </div>
              </div>
              <!-- End .panel -->
            </div>
            <!-- End .col-md-3 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- col-lg-10 end here -->
        <div class="col-lg-2">
          <!-- col-lg-2 start here -->
          <div class="page-header">
            <h5>Upload image</h5>
          </div>
          <div class="gallery-upload">
            <form id="my-awesome-dropzone" action="/uploads" class="dropzone"></form>
          </div>
          <div class="page-header">
            <h5>Categories</h5>
          </div>
          <div class="gallery-category-nav">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#" class="btn btn-default btn-block">Create new album</a>
              </li>
              <a href="#" class="list-group-item active"> All images <span class="badge badge-info">12</span></a>
              <a href="#" class="list-group-item">City <span class="badge badge-info">3</span> </a>
              <a href="#" class="list-group-item">Nature <span class="badge badge-info">5</span> </a>
              <a href="#" class="list-group-item">Sea <span class="badge badge-info">2</span></a>
            </ul>
          </div>
        </div>
        <!-- col-lg-2 end here -->
      </div>
      <!-- End .row -->
    <!--</div>-->
    <!-- End .page-content-inner -->
    <!-- Edit picture modal -->
    <div class="modal fade modal-style2" id="edit-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="exampleModalLabel"></h4>
          </div>
          <div class="modal-body">
            <img class="img-responsive" src="" alt="">

            <form class="form-horizontal mt20 bt" role="form">
              <div class="form-group">
                <label class="col-lg-12 control-label" for="">Image name</label>

                <div class="col-lg-12">
                  <input type="text" class="form-control" id="" name="" placeholder="">
                </div>
              </div>
              <!-- End .form-group  -->
              <div class="form-group">
                <label class="col-lg-12 control-label" for="">Description</label>

                <div class="col-lg-12">
                  <textarea class="form-control" name="" id="" rows="5"></textarea>
                </div>
              </div>
              <!-- End .form-group  -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger">Crop</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
  <!-- / page-content-wrapper -->
<!--</div>-->
<%= javascript_include_tag 'gallery.js' %>