<!--<div class="page-content sidebar-page right-sidebar-page clearfix">-->
  <!-- .page-content-wrapper -->
  <!--<div class="page-content-wrapper">-->
    <!--<div class="page-content-inner">-->
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Notifications</h2>
          <span class="txt">Display various messages to users</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-primary plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Notification in title</h4>
            </div>
            <div class="panel-body">
              <div class="alert alert-info fade in">
                Easy way to add notifications numbers on browser title
              </div>
              <button id="add-notification" type="button" class="btn btn-default mr10 mb10">+1 notification</button>
              <button id="subsctract-notification" type="button" class="btn btn-default mr10 mb10">-1 notification
              </button>
              <button id="number-notification" type="button" class="btn btn-default mr10 mb10">Set to 5</button>
              <button id="reset-notification" type="button" class="btn btn-default mr10 mb10">Reset</button>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-primary plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Notifications</h4>
            </div>
            <div class="panel-body">
              <button id="regular-notice" type="button" class="btn btn-default mr15 mb15">Regular notice</button>
              <button id="info-notice" type="button" class="btn btn-info mr15 mb15">Info notice</button>
              <button id="success-notice" type="button" class="btn btn-success mr15 mb15">Success notice</button>
              <button id="error-notice" type="button" class="btn btn-danger mr15 mb15">Error notice</button>
              <button id="sticky-notice" type="button" class="btn btn-info mr15 mb15">Sticky notice</button>
              <button id="topleft-notice" type="button" class="btn btn-default mr15 mb15">Top Left position</button>
              <button id="bottomleft-notice" type="button" class="btn btn-default mr15 mb15">Bottom Left position
              </button>
              <button id="bottomright-notice" type="button" class="btn btn-default mr15 mb15">Bottom right position
              </button>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6">
          <!-- col-lg-6 start here -->
          <div class="page-header">
            <h5>Static alert messages</h5>
          </div>
          <div class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
            <strong>Warning!</strong> Best check yo self, you're not looking too good.
          </div>
          <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </div>
          <div class="alert alert-success fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-check alert-icon "></i>
            <strong>Well done!</strong> You successfully read this important alert message.
          </div>
          <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="glyphicon glyphicon-info-sign alert-icon "></i>
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
          </div>
          <div class="page-header">
            <h5>Callout messages</h5>
          </div>
          <div class="bs-callout bs-callout-warning fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>Warning</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo, doloremque, ullam neque
              veritatis quasi hic excepturi eum laborum sunt nisi libero natus ab eos autem voluptatum non numquam
              fuga!</p>
          </div>
          <div class="bs-callout bs-callout-info fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>Info</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo, doloremque, ullam neque
              veritatis quasi hic excepturi eum laborum sunt nisi libero natus ab eos autem voluptatum non numquam
              fuga!</p>
          </div>
          <div class="bs-callout bs-callout-success fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>Success</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo, doloremque, ullam neque
              veritatis quasi hic excepturi eum laborum sunt nisi libero natus ab eos autem voluptatum non numquam
              fuga!</p>
          </div>
          <div class="bs-callout bs-callout-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>Danger</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo, doloremque, ullam neque
              veritatis quasi hic excepturi eum laborum sunt nisi libero natus ab eos autem voluptatum non numquam
              fuga!</p>
          </div>
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Sweet Alerts</h4>
            </div>
            <div class="panel-body">
              <table class="table">
                <thead>
                <tr>
                  <th>Description</th>
                  <th>Action</th>
                  <th>Code</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Basic example</td>
                  <td><a href="#" class="btn btn-default btn-sm sweet-1">Try It</a>
                  </td>
                  <td><code>swal("Here's a message!")</code>
                  </td>
                </tr>
                <tr>
                  <td>A title with a text under</td>
                  <td>
                    <button class="btn btn-default btn-sm sweet-2">Try It</button>
                  </td>
                  <td><code>swal("Here's a message!", "It's pretty, isn't it?")</code>
                  </td>
                </tr>
                <tr>
                  <td>A success message!</td>
                  <td>
                    <button class="btn btn-default btn-sm sweet-3">Try It</button>
                  </td>
                  <td><code>swal("Here's a message!", "It's pretty, isn't it?")</code>
                  </td>
                </tr>
                <tr>
                  <td>A warning message, with a function attached to the "Confirm" button...</td>
                  <td>
                    <button class="btn btn-default btn-sm sweet-4">Try It</button>
                  </td>
                  <td>
                                                        <pre>
swal({
  title: "Are you sure?",
  text: "Your will not be able to recover this imaginary file!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  closeOnConfirm: false
},
function(){
  swal("Deleted!", "Your imaginary file has been deleted.", "success");
});</pre>
                  </td>
                </tr>
                <tr>
                  <td>Execute something else for "Cancel"</td>
                  <td>
                    <button class="btn btn-default btn-sm sweet-5">Try It</button>
                  </td>
                  <td>
                                                        <pre>
swal({
  title: "Are you sure?",
  text: "You will not be able to recover this imaginary file!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  cancelButtonText: "No, cancel plx!",
  closeOnConfirm: false,
  closeOnCancel: false
},
function(isConfirm) {
  if (isConfirm) {
    swal("Deleted!", "Your imaginary file has been deleted.", "success");
  } else {
    swal("Cancelled", "Your imaginary file is safe :)", "error");
  }
});</pre>
                  </td>
                </tr>
                <tr>
                  <td>A message with a custom icon</td>
                  <td>
                    <button class="btn btn-default btn-sm sweet-6">Try It</button>
                  </td>
                  <td>
                                                        <pre>
swal({
  title: "Sweet!",
  text: "Here's a custom image.",
  imageUrl: 'thumbs-up.jpg'
});</pre>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <!-- Start .row -->
        <div class="col-lg-12">
        </div>
      </div>
      <!-- End .row -->
    <!--</div>-->
    <!-- End .page-content-inner -->
  <!--</div>-->
  <!-- / page-content-wrapper -->
<!--</div>-->
<%= javascript_include_tag 'notifications' %>