<div class="page-content sidebar-page right-sidebar-page clearfix">
  <!-- .page-content-wrapper -->
  <div class="page-content-wrapper">
    <div class="page-content-inner">
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Pricing tables</h2>
          <span class="txt">Select the payment plan easy.</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table">
            <div class="pricing-header">
              <h3>Ultimate</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 15 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> 150 GB</li>
              <li class="list-group-item off"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>5$</span>
                / month
                <a href="#" class="btn btn-primary btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table">
            <div class="pricing-header">
              <h3><i class="glyphicon glyphicon-star-empty"></i> Economic</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 40 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> Unlimited</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare + Railgun</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>8$</span>
                / month
                <a href="#" class="btn btn-primary btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table">
            <div class="pricing-header">
              <h3>Business</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 60 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> Unlimited</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare + Railgun</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>12$</span>
                / month
                <a href="#" class="btn btn-primary btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table">
            <div class="pricing-header">
              <h3>Extra</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 160 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> Unlimited</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare + Railgun</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i>1 year Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>25$</span>
                / month
                <a href="#" class="btn btn-primary btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <!-- Start .row -->
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table blue">
            <div class="pricing-header">
              <h3>Ultimate</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 15 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> 150 GB</li>
              <li class="list-group-item off"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>5$</span>
                / month
                <a href="#" class="btn btn-default btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table red">
            <div class="pricing-header">
              <h3><i class="glyphicon glyphicon-star-empty"></i> Economic</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 40 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> Unlimited</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare + Railgun</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>8$</span>
                / month
                <a href="#" class="btn btn-primary btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table green">
            <div class="pricing-header">
              <h3>Business</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 60 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> Unlimited</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare + Railgun</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>12$</span>
                / month
                <a href="#" class="btn btn-primary btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
        <div class="col-lg-3 col-md-3 col-sm-6">
          <!-- col-lg-3 start here -->
          <div class="pricing-table yellow">
            <div class="pricing-header">
              <h3>Extra</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 160 GB, MySQL SSD</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> Unlimited</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> Free domain</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> Daily backup</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Cloudflare + Railgun</li>
              <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i>1 year Seo</li>
            </ul>
            <div class="pricing-bottom clearfix">
              <div class="price">
                <span>25$</span>
                / month
                <a href="#" class="btn btn-primary btn-lg btn-block">Order now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- col-lg-3 end here -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .page-content-inner -->
  </div>
  <!-- / page-content-wrapper -->
</div>
