<!--<div class="page-content sidebar-page right-sidebar-page clearfix">-->
  <!-- .page-content-wrapper -->
  <!--<div class="page-content-wrapper">-->
    <!--<div class="page-content-inner">-->
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Sliders</h2>
          <span class="txt">Ui helpers for better user input</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Basic sliders</h4>
            </div>
            <div class="panel-body">
              <form action="#" class="form-horizontal">
                <div class="form-group clearfix">
                  <label class="col-md-3 control-label" for="">Default slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group clearfix">
                  <label class="col-md-3 control-label" for="">Primary slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-primary">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group clearfix">
                  <label class="col-md-3 control-label" for="">Info slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-info">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group clearfix">
                  <label class="col-md-3 control-label" for="">Success slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-success">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group clearfix">
                  <label class="col-md-3 control-label" for="">Danger slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-danger">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group clearfix">
                  <label class="col-md-3 control-label" for="">Warning slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-warning">
                  </div>
                </div>
                <!-- End .form-group  -->
              </form>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Range sliders</h4>
            </div>
            <div class="panel-body">
              <form action="#" class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-3 control-label">Default slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-range">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-3 control-label">Primary slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-range-primary">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-3 control-label">Info slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-range-info">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-3 control-label">Danger slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-range-danger">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-3 control-label">Success slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-range-success">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-3 control-label">Warning slider</label>

                  <div class="col-md-9">
                    <input type="text" id="slider-range-warning">
                  </div>
                </div>
                <!-- End .form-group  -->
              </form>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <!-- Start .row -->
        <div class="col-lg-12 col-md-12 sortable-layout">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Custom Options</h4>
            </div>
            <div class="panel-body">
              <form action="#" class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-2 control-label">Fixed min value</label>

                  <div class="col-md-10">
                    <input type="text" id="slider-minval">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-2 control-label">Fixed max value</label>

                  <div class="col-md-10">
                    <input type="text" id="slider-maxval">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-2 control-label">Custom step of 10</label>

                  <div class="col-md-10">
                    <input type="text" id="slider-step">
                  </div>
                </div>
                <!-- End .form-group  -->
                <div class="form-group">
                  <label class="col-md-2 control-label">Show slider value</label>

                  <div class="col-md-10">
                    <input type="text" id="slider-show-val">

                    <div id="sum" class="help-block color-red strong">$ 10</div>
                  </div>
                </div>
                <!-- End .form-group  -->
              </form>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->
      <div class="row">
        <!-- Start .row -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Vertical sliders</h4>
            </div>
            <div class="panel-body">
              <div id="vertical-slider"></div>
              <div id="vertical-slider1"></div>
              <div id="vertical-slider2"></div>
              <div id="vertical-slider3"></div>
              <div id="vertical-slider4"></div>
              <div id="vertical-slider5"></div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Vertical range sliders</h4>
            </div>
            <div class="panel-body">
              <div id="vertical-range-slider"></div>
              <div id="vertical-range-slider1"></div>
              <div id="vertical-range-slider2"></div>
              <div id="vertical-range-slider3"></div>
              <div id="vertical-range-slider4"></div>
              <div id="vertical-range-slider5"></div>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
    <!--</div>-->
    <!-- End .page-content-inner -->
  <!--</div>-->
  <!-- / page-content-wrapper -->
<!--</div>-->
<%= javascript_include_tag 'sliders.js' %>