<!--<div class="page-content sidebar-page right-sidebar-page clearfix">-->
  <!-- .page-content-wrapper -->
  <!--<div class="page-content-wrapper">-->
    <!--<div class="page-content-inner">-->
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Tabs</h2>
          <span class="txt">Display more information on small areas.</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="page-header">
            <h5>Regular tabs</h5>
          </div>
          <div class="tabs mb20">
            <ul id="myTab" class="nav nav-tabs">
              <li>
                <a href="#home1" data-toggle="tab">Home</a>
              </li>
              <li class="">
                <a href="#profile1" data-toggle="tab">Profile</a>
              </li>
              <li class="">
                <a href="#settings1" data-toggle="tab">Settings</a>
              </li>
            </ul>
            <div id="myTabContent2" class="tab-content">
              <div class="tab-pane fade active in" id="home1">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="profile1">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="settings1">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
          <div class="page-header">
            <h5>Tabs on left</h5>
          </div>
          <div class="tabs tabs-left mb20">
            <ul id="myTab8" class="nav nav-tabs">
              <li>
                <a href="#home8" data-toggle="tab">Home</a>
              </li>
              <li class="">
                <a href="#profile8" data-toggle="tab">Profile</a>
              </li>
              <li class="">
                <a href="#settings8" data-toggle="tab">Settings</a>
              </li>
            </ul>
            <div id="myTabContent8" class="tab-content">
              <div class="tab-pane fade active in" id="home8">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="profile8">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="settings8">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
          <div class="page-header">
            <h5>Tabs with Tab drop</h5>
          </div>
          <div class="tabs">
            <ul id="myTab3" class="nav nav-tabs tabdrop">
              <li>
                <a href="#one" data-toggle="tab">Tab One</a>
              </li>
              <li class="">
                <a href="#two" data-toggle="tab">Tab Two</a>
              </li>
              <li class="">
                <a href="#three" data-toggle="tab">Tab Three</a>
              </li>
              <li class="">
                <a href="#four" data-toggle="tab">Tab Four</a>
              </li>
              <li class="">
                <a href="#five" data-toggle="tab">Tab Five</a>
              </li>
              <li>
                <a href="#six" data-toggle="tab">Tab Six</a>
              </li>
              <li class="">
                <a href="#seven" data-toggle="tab">Tab Seven</a>
              </li>
              <li class="">
                <a href="#eight" data-toggle="tab">Tab Eight</a>
              </li>
              <li class="">
                <a href="#nine" data-toggle="tab">Tab Nine</a>
              </li>
              <li class="">
                <a href="#ten" data-toggle="tab">Tab Ten</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="one">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="two">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="three">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="four">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="five">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="six">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="seven">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="eight">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="nine">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="ten">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
          <div class="panel panel-default toggle panelClose panelRefresh mt20">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Tabs inside panel</h4>
            </div>
            <div class="panel-body p0">
              <div class="tabs inside-panel">
                <ul id="myTab5" class="nav nav-tabs">
                  <li>
                    <a href="#home5" data-toggle="tab"><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li class="">
                    <a href="#profile5" data-toggle="tab"><i class="glyphicon glyphicon-user"></i> Profile</a>
                  </li>
                  <li class="">
                    <a href="#settings5" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                  </li>
                </ul>
                <div id="myTabContent5" class="tab-content">
                  <div class="tab-pane fade active in" id="home5">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus
                      deserunt officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur
                      praesentium quisquam voluptatum fuga delectus quidem quas aliquam
                      minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos
                      hic officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus,
                      minima, suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta
                      nemo quaerat iusto.
                    </p>
                  </div>
                  <div class="tab-pane fade" id="profile5">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus
                      deserunt officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur
                      praesentium quisquam voluptatum fuga delectus quidem quas aliquam
                      minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos
                      hic officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus,
                      minima, suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta
                      nemo quaerat iusto.
                    </p>
                  </div>
                  <div class="tab-pane fade" id="settings5">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus
                      deserunt officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur
                      praesentium quisquam voluptatum fuga delectus quidem quas aliquam
                      minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos
                      hic officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus,
                      minima, suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta
                      nemo quaerat iusto.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End .tabs -->
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="page-header">
            <h5>Tabs on top with right float</h5>
          </div>
          <div class="tabs mb20">
            <ul id="myTab6" class="nav nav-tabs nav-tabs-right">
              <li>
                <a href="#home6" data-toggle="tab">Home</a>
              </li>
              <li class="">
                <a href="#profile6" data-toggle="tab">Profile</a>
              </li>
              <li class="">
                <a href="#settings6" data-toggle="tab">Settings</a>
              </li>
            </ul>
            <div id="myTabContent6" class="tab-content">
              <div class="tab-pane fade active in" id="home6">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="profile6">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="settings6">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
          <div class="page-header">
            <h5>Tabs on right</h5>
          </div>
          <div class="tabs tabs-right mb20">
            <ul id="myTab7" class="nav nav-tabs">
              <li>
                <a href="#home7" data-toggle="tab">Home</a>
              </li>
              <li class="">
                <a href="#profile7" data-toggle="tab">Profile</a>
              </li>
              <li class="">
                <a href="#settings7" data-toggle="tab">Settings</a>
              </li>
            </ul>
            <div id="myTabContent7" class="tab-content">
              <div class="tab-pane fade active in" id="home7">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="profile7">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="settings7">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
          <div class="page-header">
            <h5>Tabs on bellow</h5>
          </div>
          <div class="tabs tabs-bellow mb20">
            <div id="myTabContent9" class="tab-content">
              <div class="tab-pane fade active in" id="home9">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="profile9">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="settings9">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
            </div>
            <ul id="myTab9" class="nav nav-tabs">
              <li>
                <a href="#home9" data-toggle="tab">Home</a>
              </li>
              <li class="">
                <a href="#profile9" data-toggle="tab">Profile</a>
              </li>
              <li class="">
                <a href="#settings9" data-toggle="tab">Settings</a>
              </li>
            </ul>
          </div>
          <!-- End .tabs -->
          <div class="page-header">
            <h5>Justified tabs</h5>
          </div>
          <div class="tabs mb20">
            <ul id="myTab2" class="nav nav-tabs nav-justified">
              <li>
                <a href="#home2" data-toggle="tab">Home</a>
              </li>
              <li class="">
                <a href="#profile2" data-toggle="tab">Profile</a>
              </li>
              <li class="">
                <a href="#settings2" data-toggle="tab">Settings</a>
              </li>
              <li class="">
                <a href="#users2" data-toggle="tab">Users</a>
              </li>
              <li class="">
                <a href="#shipment2" data-toggle="tab">Shipment</a>
              </li>
            </ul>
            <div id="myTabContent2" class="tab-content">
              <div class="tab-pane fade active in" id="home2">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="profile2">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="settings2">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="users2">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
              <div class="tab-pane fade" id="shipment2">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt
                  officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium
                  quisquam voluptatum fuga delectus quidem quas aliquam
                  minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic
                  officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus, minima,
                  suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat
                  iusto.
                </p>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
          <div class="page-header">
            <h5>Tabs with dropdown</h5>
          </div>
          <div class="tabs">
            <ul id="myTab4" class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#home4" role="tab" data-toggle="tab">Home</a>
              </li>
              <li><a href="#profile" role="tab" data-toggle="tab">Profile</a>
              </li>
              <li class="dropdown">
                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                  <li><a href="#dropdown1" tabindex="-1" role="tab" data-toggle="tab">@fat</a>
                  </li>
                  <li><a href="#dropdown2" tabindex="-1" role="tab" data-toggle="tab">@mdo</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="home4">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                  retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                  butcher
                  retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
                  Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate
                  nisi
                  qui.</p>
              </div>
              <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                  +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                  craft
                  beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                  vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                  helvetica
                  VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                  8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
                  scenester
                  stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
              <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                  fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
                  skateboard
                  locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
                  squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel
                  fixie
                  etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
                  stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
              </div>
              <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master
                  cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party
                  locavore
                  wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold
                  out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats
                  keffiyeh
                  craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
              </div>
            </div>
          </div>
          <!-- End .tabs -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
    <!--</div>-->
    <!-- End .page-content-inner -->
  <!--</div>-->
  <!-- / page-content-wrapper -->
<!--</div>-->
<%= javascript_include_tag 'tabs.js' %>