<div class="page-content sidebar-page right-sidebar-page clearfix">
  <!-- .page-content-wrapper -->
  <div class="page-content-wrapper">
    <div class="page-content-inner">
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Timeline</h2>
          <span class="txt">Show events in time order</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-4">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Simple timeline</h4>
            </div>
            <div class="panel-body">
              <ul class="timeline timeline-simple">
                <li>
                  <p>
                    <a href="#">Jonh Doe</a> attached new <a href="#">file</a>
                    <span class="timeline-date">Dec 10, 22:00</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Admin</a> approved <a href="#">3 new comments</a>
                    <span class="timeline-date">Dec 8, 13:35</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Jonh Smith</a> deposit 300$
                    <span class="timeline-date">Dec 6, 10:17</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Serena Williams</a> purchase <a href="#">3 items</a>
                    <span class="timeline-date">Dec 5, 04:36</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">3 invoices </a> are send to <a href="#">Klaudia Chambers</a>
                    <span class="timeline-date">Dec 4, 18:40</span>
                  </p>
                </li>
                <li>
                  <p>
                    You received 136 new likes for <a href="#">your page</a>
                    <span class="timeline-date">Dec 4, 12:00</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">12 settings </a> are changed from <a href="#">Master Admin</a>
                    <span class="timeline-date">Dec 3, 23:17</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Klaudia Chambers</a> change your photo
                    <span class="timeline-date">Dec 2, 05:17</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Master server </a> is down for 10 min.
                    <span class="timeline-date">Dec 2, 04:56</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">12 links </a> are broken
                    <span class="timeline-date">Dec 1, 22:13</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Last backup </a> is restored by <a href="#">Master admin</a>
                    <span class="timeline-date">Dec 1, 17:42</span>
                  </p>
                </li>
                <li>
                  <p>
                    You have <a href="#">3 missed calls </a> from <a href="#">Jonathan Santos</a>
                    <span class="timeline-date">Dec 1, 12:00</span>
                  </p>
                </li>
              </ul>
              <a href="#" class="btn btn-default timeline-load-more-btn"> <i class="fa fa-refresh"></i> Load more</a>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-4">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">With icons</h4>
            </div>
            <div class="panel-body">
              <ul class="timeline timeline-icons">
                <li>
                  <p>
                    <a href="#">Jonh Doe</a> attached new <a href="#">file</a>
                    <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                    <span class="timeline-date">Dec 10, 22:00</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Admin</a> approved <a href="#">3 new comments</a>
                    <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                    <span class="timeline-date">Dec 8, 13:35</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Jonh Smith</a> deposit 300$
                    <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
                    <span class="timeline-date">Dec 6, 10:17</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Serena Williams</a> purchase <a href="#">3 items</a>
                    <span class="timeline-icon"><i class="fa fa-shopping-cart color-red"></i></span>
                    <span class="timeline-date">Dec 5, 04:36</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">1 support </a> request is received from <a href="#">Klaudia Chambers</a>
                    <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
                    <span class="timeline-date">Dec 4, 18:40</span>
                  </p>
                </li>
                <li>
                  <p>
                    You received 136 new likes for <a href="#">your page</a>
                    <span class="timeline-icon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                    <span class="timeline-date">Dec 4, 12:00</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">12 settings </a> are changed from <a href="#">Master Admin</a>
                    <span class="timeline-icon"><i class="glyphicon glyphicon-cog"></i></span>
                    <span class="timeline-date">Dec 3, 23:17</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Klaudia Chambers</a> change your photo
                    <span class="timeline-icon"><i class="l-basic-photo"></i></span>
                    <span class="timeline-date">Dec 2, 05:17</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Master server </a> is down for 10 min.
                    <span class="timeline-icon"><i class="l-basic-server2"></i></span>
                    <span class="timeline-date">Dec 2, 04:56</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">12 links </a> are broken
                    <span class="timeline-icon"><i class="fa fa-unlink"></i></span>
                    <span class="timeline-date">Dec 1, 22:13</span>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">Last backup </a> is restored by <a href="#">Master admin</a>
                    <span class="timeline-icon"><i class="fa fa-undo color-red"></i></span>
                    <span class="timeline-date">Dec 1, 17:42</span>
                  </p>
                </li>
              </ul>
              <a href="#" class="btn btn-default timeline-load-more-btn"><i class="fa fa-refresh"></i> Load more </a>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-4">
          <!-- col-lg-4 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Advanced timeline</h4>
            </div>
            <div class="panel-body">
              <ul class="timeline timeline-icons timeline-advanced">
                <li>
                  <h4 class="timeline-title">Please read this !!!</h4>
                  <span class="timeline-subtitle">ben@gmail.com</span>
                  <span class="timeline-icon"><i class="fa fa-comments"></i></span>
                  <span class="timeline-date">Dec 10, 10:00 pm</span>

                  <div class="timeline-content">
                    <p>Hello, i need to know how to purchase your products. I want to pay with paypal but have some
                      problems ...</p>
                  </div>
                  <div class="timeline-user">
                    <img class="timeline-avatar" src="/assets/avatars/4.jpg" alt="timeline avatar">

                    <p class="timeline-user-name">Reneta Stone</p>

                    <p class="timeline-user-subtitle">replied after 1 hour</p>
                  </div>
                  <a href="#" class="timeline-link"><i class="fa fa-mail-reply"></i> View the message</a>
                </li>
                <li>
                  <h4 class="timeline-title">Order is received</h4>
                  <span class="timeline-subtitle">www.shop.dynamic.com</span>
                  <span class="timeline-icon"><i class="fa fa-shopping-cart"></i></span>
                  <span class="timeline-date">Dec 08, 17:00 pm</span>

                  <div class="timeline-content">
                    <p>You received the order!</p>

                    <p>Order: #745664</p>

                    <p>Items: 3 jackets</p>

                    <p class="divider-dashed"></p>

                    <p>Total: 145$</p>
                  </div>
                  <div class="timeline-user">
                    <img class="timeline-avatar" src="/assets/avatars/5.jpg" alt="timeline avatar">

                    <p class="timeline-user-name">Shoune Paul</p>

                    <p class="timeline-user-subtitle">has accept the order</p>
                  </div>
                  <a href="#" class="timeline-link"><i class="fa fa-mail-reply"></i> View order details</a>
                </li>
                <li>
                  <h4 class="timeline-title">Staff meeting</h4>
                  <span class="timeline-subtitle">ceo@dynamic.com</span>
                  <span class="timeline-icon"><i class="fa fa-users"></i></span>
                  <span class="timeline-date">Dec 06, 12:00 pm</span>

                  <div class="timeline-content">
                    <p>All coders need to come. Don`t be late, no excuse</p>
                  </div>
                  <div class="timeline-user">
                    <img class="timeline-avatar" src="/assets/avatars/6.jpg" alt="timeline avatar">

                    <p class="timeline-user-name">Jonathan Santos</p>

                    <p class="timeline-user-subtitle"><span class="color-green">confirm meeting request</span>
                    </p>
                  </div>
                  <div class="timeline-user">
                    <img class="timeline-avatar" src="/assets/avatars/7.jpg" alt="timeline avatar">

                    <p class="timeline-user-name">Stevee O`neil</p>

                    <p class="timeline-user-subtitle"><span class="color-green">confirm meeting request</span>
                    </p>
                  </div>
                  <div class="timeline-user">
                    <img class="timeline-avatar" src="/assets/avatars/8.jpg" alt="timeline avatar">

                    <p class="timeline-user-name">Selena Williams</p>

                    <p class="timeline-user-subtitle"><span class="color-red">reject meeting request</span>
                    </p>
                  </div>
                  <a href="#" class="timeline-link"><i class="fa fa-mail-reply"></i> View meeting details</a>
                </li>
              </ul>
              <a href="#" class="btn btn-default timeline-load-more-btn"><i class="fa fa-refresh"></i>Load more </a>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-4 end here -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .page-content-inner -->
  </div>
  <!-- / page-content-wrapper -->
</div>