<div class="page-content sidebar-page right-sidebar-page clearfix">
  <!-- .page-content-wrapper -->
  <div class="page-content-wrapper">
    <div class="page-content-inner">
      <!-- Start .page-content-inner -->
      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Typography</h2>
          <span class="txt">Typo is very important for web projects.</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
      </div>
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> Headings</h4>
            </div>
            <div class="panel-body">
              <h1>This is an H1 heading</h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>

              <h2>This is an H2 heading</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>

              <h3>This is an H3 heading</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <h4>This is an H4 heading</h4>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <h5>This is an H5 heading</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <h6>This is an H6 heading</h6>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> Emphasis</h4>
            </div>
            <div class="panel-body">
              <div class="page-header">
                <h5>Small Text</h5>
              </div>
              <p>
                <small>This line of text is meant to be treated as fine print.</small>
              </p>
              <code>&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;</code>

              <div class="page-header">
                <h5>Bold text</h5>
              </div>
              <p>The following snippet of text is <strong>rendered as bold text.</strong>
              </p>
              <code>The following snippet of text is &lt;strong&gt;rendered as bold text.&lt;/strong&gt;</code>

              <div class="page-header">
                <h5>Italics</h5>
              </div>
              <p>The following snippet of text is
                <em>rendered as italicized text.</em>
              </p>
              <code>The following snippet of text is &lt;em&gt;rendered as italicized text.&lt;/em&gt;</code>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Abbreviations</h4>
            </div>
            <div class="panel-body">
              <div class="page-header">
                <h5>Basic abbreviation</h5>
              </div>
              <p>An abbreviation of the word attribute is
                <abbr title="attribute">attr</abbr>.</p>
              <code>&lt;abbr title="attribute"&gt;attr&lt;/abbr&gt;</code>

              <div class="page-header">
                <h5>Initialism</h5>
              </div>
              <p>
                <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>is the best thing since sliced
                bread.</p>
              <code>&lt;abbr title="HyperText Markup Language" class="initialism"&gt;HTML&lt;/abbr&gt;</code>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Addresses</h4>
            </div>
            <div class="panel-body">
              <address>
                <strong>Twitter, Inc.</strong>
                <br>795 Folsom Ave, Suite 600
                <br>San Francisco, CA 94107
                <br>
                <abbr title="Phone">P:</abbr>(123) 456-7890
              </address>
              <address>
                <strong>Full Name</strong>
                <br>
                <a href="mailto:#">first.last@example.com</a>
              </address>
                                        <pre class="prettyprint">
                        <code class="html">
                          &lt;address&gt;
                          &lt;strong>Twitter, Inc.&lt;/strong&gt;&lt;br&gt;
                          795 Folsom Ave, Suite 600&lt;br&gt;
                          San Francisco, CA 94107&lt;br&gt;
                          &lt;abbr title="Phone"&gt;P:&lt;/abbr&gt; (123) 456-7890
                          &lt;/address&gt;
                          &lt;address&gt;
                          &lt;strong&gt;Full Name&lt;/strong&gt;&lt;br&gt;
                          &lt;a href="mailto:#"&gt;first.last@example.com&lt;/a&gt;
                          &lt;/address&gt;</code>
                    </pre>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6 col-md-6 sortable-layout">
          <!-- col-lg-6 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> Paragraphs</h4>
            </div>
            <div class="panel-body">
              <div class="page-header">
                <h5>Paragraph</h5>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt
                mollit anim id est laborum.</p>
              <code>&lt;p&gt;...&lt;/p&gt;</code>

              <div class="page-header">
                <h5>Lead paragraph</h5>
              </div>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.</p>
              <code>&lt;p class="lead" &gt;...&lt;/p&gt;</code>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Alignment classes</h4>
            </div>
            <div class="panel-body">
              <p class="text-left">Left aligned text.</p>
              <code>&lt;p class="text-left"&gt;Left aligned text.&lt;/p&gt;</code>

              <p class="text-center">Center aligned text.</p>
              <code>&lt;p class="text-center"&gt;Center aligned text.&lt;/p&gt;</code>

              <p class="text-right">Right aligned text.</p>
              <code>&lt;p class="text-right"&gt;Right aligned text.&lt;/p&gt;</code>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Emphasis classes</h4>
            </div>
            <div class="panel-body">
              <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
              <code>&lt;p class="text-muted"&gt;Fusce dapibus, tellus ac cursus commodo, tortor mauris
                nibh.&lt;/p&gt;</code>

              <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <code>&lt;p class="text-primary"&gt;Nullam id dolor id nibh ultricies vehicula ut id elit.&lt;/p&gt;
              </code>

              <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
              <code>&lt;p class="text-success"&gt;Duis mollis, est non commodo luctus, nisi erat porttitor
                ligula.&lt;/p&gt;</code>

              <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
              <code>&lt;p class="text-info"&gt;Maecenas sed diam eget risus varius blandit sit amet non
                magna.&lt;/p&gt;</code>

              <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
              <code>&lt;p class="text-warning"&gt;Etiam porta sem malesuada magna mollis euismod.&lt;/p&gt;</code>

              <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
              <code>&lt;p class="text-danger"&gt;Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;</code>
            </div>
          </div>
          <!-- End .panel -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Blockquotes</h4>
            </div>
            <div class="panel-body">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
                                        <pre class="prettyprint"><code class="html">&lt;blockquote&gt;
                                          &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                          posuere erat a ante.&lt;/p&gt;
                                          &lt;/blockquote&gt;</code>
                    </pre>
              <div class="page-header">
                <h4>In the Right</h4>
              </div>
              <blockquote class="pull-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .page-content-inner -->
  </div>
  <!-- / page-content-wrapper -->
</div>
