<div class = "page-content-wrapper row pg_top">
  <div class="container">
    <%= link_to 'Back', config_email_path %>
    <h1>Edit email config.</h1>
    <div class="config_email">
      <%= render 'form' %>
    </div>
  </div>
</div>