<div style="margin-top: 50px;">
    
<div class="logo-wrap" align="center">
    <a href="http://tandemarbor.com"><img src="/assets/logo-transperent.png" id="logo" class="img-responsive hidden-sm hidden-xs" alt="">
    <img src="/assets/home_logo.png" id="logo-sm" class="img-responsive visible-sm visible-xs" alt="">
    </a>
</div>
</div>

<div class="main-link-wrap row">
<ul class="main-links" style="margin-top: 50px;">
    <!-- <span id="side-bar-toggle-btn" class="btn glyphicon glyphicon-menu-hamburger"></span> -->
    <li><a href="#"><strong>THANK YOU</strong></a></li>
</ul>
</div>

<div style="text-align: center;">
    <h3>Thank you! Your registration has been submitted. You will receive an email notification onece your</h3>
    <h3>registration has been reviewed and approved by Tandem Arbor.</h3>
    <a href="http://tandemarbor.com" class="btn btn-default">Back to store</a>
</div>

