
    <section class="page-wrap">
     <div id="sidebar">
          <h1 class="sidebar-title">
               Let Us Help You
          </h1>
     </div>
        <div class="main-title row">
            <h1>customizable collection</h1>
        </div>
        <div class="sub-title-wrap row">
            <p class="sub-title">
                CHOOSE YOUR SILHOUETTE, FABRIC,
                <br> AND SIZE TO CREATE A BESPOKE SOFA.
            </p>
        </div>
        <div class="row item-facts-wrap">
            <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                <div class="col-sm-3 col-xs-6 item-facts">
                    <h1 class="fact-figur">
                            10
                       </h1>
                    <p class="item-attribute">styles</p>
                </div>
                <div class="col-sm-3 col-xs-6 item-facts">
                    <h1 class="fact-figur">
                            11
                       </h1>
                    <p class="item-attribute">fabrics</p>
                </div>
                <div class="col-sm-3 col-xs-6 item-facts">
                    <h1 class="fact-figur">
                            2
                       </h1>
                    <p class="item-attribute">depths</p>
                </div>
                <div class="col-sm-3 col-xs-6 item-facts">
                    <h1 class="fact-figur">
                            6
                       </h1>
                    <p class="item-attribute">lengths</p>
                </div>
            </div>
        </div>
        <div class="row item-description-wrap">
            <div class="container">
                <div class="col-sm-5 item-description-block">
                    <div class="col-xs-4">
                        <h3 class="nubering-title">n<sup>o.</sup></h3>
                        <h1 class="number-wrap">1</h1>
                    </div>
                    <div class=" col-xs-8 item-feature-text">
                        <h1 class="main-item-title">
                              Maxwell
                         </h1>
                        <h4 class="item-sub-title">collections</h4>
                        <p class="item-features">
                            <span class="no-of-style">6</span> styles, <span class="no-of-depths">2</span> depths
                        </p>
                        <p>SHOWN IN FOG BELGIAN LINEN</p>
                    </div>
                    <p class="category-description col-xs-12">
                        CLEAN, MODERN LINES AND DEEP DOWN-ENHANCED COMFORT. ITS STREAMLINED PROFILE FEATURES A LOW BACK AND WIDE, SQUARED- OFF SEAT AND BACK CUSHIONS.
                    </p>
                </div>
                <div class="col-sm-7 col-xs-12 item-img-block">
                    <img src="/assets/home/item-11.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="row item-description-wrap">
            <div class="container">
                <div class="col-sm-5 item-description-block">
                    <div class="col-xs-4">
                        <h3 class="nubering-title">n<sup>o.</sup></h3>
                        <h1 class="number-wrap">2</h1>
                    </div>
                    <div class=" col-xs-8 item-feature-text">
                        <h1 class="main-item-title">
                              DECONSTRUCTED
                         </h1>
                        <h4 class="item-sub-title">collections</h4>
                        <p class="item-features">
                            <span class="no-of-style">6</span> styles, <span class="no-of-depths">2</span> depths
                        </p>
                        <p>SHOWN IN FOG BELGIAN LINEN</p>
                    </div>
                    <p class="category-description col-xs-12">
                        CLEAN, MODERN LINES AND DEEP DOWN-ENHANCED COMFORT. ITS STREAMLINED PROFILE FEATURES A LOW BACK AND WIDE, SQUARED- OFF SEAT AND BACK CUSHIONS.
                    </p>
                </div>
                <div class="col-sm-7 col-xs-12 item-img-block">
                    <img src="/assets/home/item-22.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="row item-description-wrap">
            <div class="container">
                <div class="col-sm-5 item-description-block">
                    <div class="col-xs-4">
                        <h3 class="nubering-title">n<sup>o.</sup></h3>
                        <h1 class="number-wrap">3</h1>
                    </div>
                    <div class=" col-xs-8 item-feature-text">
                        <h1 class="main-item-title">
                              barclay
                         </h1>
                        <h4 class="item-sub-title">collections</h4>
                        <p class="item-features">
                            <span class="no-of-style">6</span> styles, <span class="no-of-depths">2</span> depths
                        </p>
                        <p>SHOWN IN FOG BELGIAN LINEN</p>
                    </div>
                    <p class="category-description col-xs-12">
                        CLEAN, MODERN LINES AND DEEP DOWN-ENHANCED COMFORT. ITS STREAMLINED PROFILE FEATURES A LOW BACK AND WIDE, SQUARED- OFF SEAT AND BACK CUSHIONS.
                    </p>
                </div>
                <div class="col-sm-7 col-xs-12 item-img-block">
                    <img src="/assets/home/item-33.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="row item-description-wrap">
            <div class="container">
                <div class="col-sm-5 item-description-block">
                    <div class="col-xs-4">
                        <h3 class="nubering-title">n<sup>o.</sup></h3>
                        <h1 class="number-wrap">4</h1>
                    </div>
                    <div class=" col-xs-8 item-feature-text">
                        <h1 class="main-item-title">
                              myer
                         </h1>
                        <h4 class="item-sub-title">collections</h4>
                        <p class="item-features">
                            <span class="no-of-style">6</span> styles, <span class="no-of-depths">2</span> depths
                        </p>
                        <p>SHOWN IN FOG BELGIAN LINEN</p>
                    </div>
                    <p class="category-description col-xs-12">
                        CLEAN, MODERN LINES AND DEEP DOWN-ENHANCED COMFORT. ITS STREAMLINED PROFILE FEATURES A LOW BACK AND WIDE, SQUARED- OFF SEAT AND BACK CUSHIONS.
                    </p>
                </div>
                <div class="col-sm-7 col-xs-12 item-img-block">
                    <img src="/assets/home/item-44.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="row item-description-wrap">
            <div class="container">
                <div class="col-sm-5 item-description-block">
                    <div class="col-xs-4">
                        <h3 class="nubering-title">n<sup>o.</sup></h3>
                        <h1 class="number-wrap">5</h1>
                    </div>
                    <div class=" col-xs-8 item-feature-text">
                        <h1 class="main-item-title">
                              weston
                         </h1>
                        <h4 class="item-sub-title">collections</h4>
                        <p class="item-features">
                            <span class="no-of-style">6</span> styles, <span class="no-of-depths">2</span> depths
                        </p>
                        <p>SHOWN IN FOG BELGIAN LINEN</p>
                    </div>
                    <p class="category-description col-xs-12">
                        CLEAN, MODERN LINES AND DEEP DOWN-ENHANCED COMFORT. ITS STREAMLINED PROFILE FEATURES A LOW BACK AND WIDE, SQUARED- OFF SEAT AND BACK CUSHIONS.
                    </p>
                </div>
                <div class="col-sm-7 col-xs-12 item-img-block">
                    <img src="/assets/home/item-55.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>

