      <div id="page-header" class="clearfix">
        <div class="page-header">
          <h2>Edit Role: <%= @role[:name] %>  </h2>
        </div>
        <!--
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
          </div>
          <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
          </div>
        </div>
        -->
      </div> 

      <div class="forms_vendor">
        <%= render 'form' %> 
      </div>

<script>
    
    function set_permission_group_allowed(obj, status) {
      var cn = obj.getAttribute('class');
      if (cn == "all_cb") {
        var objs = $('input[type=checkbox]');
        for (i = 0; i < objs.length; i++) {
           c = objs[i].getAttribute('class');
           if (typeof(c) !== "undefined" && c && (c.includes("_cb_obj"))) {
             objs[i].checked = (status > 0 )
           }
        }
      } else {
        var objs = document.getElementsByClassName(cn + "_obj");      
        for (i = 0; i < objs.length; i++) {
            objs[i].checked = (status > 0 );
        }
      }         
    }


</script>

