<br>
<div class="row fields">
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :option_value %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
    <div class="col-xs-1">
	    <%= link_to_remove_fields "remove", f %>
		</div>
  </div>
</div>