<div class="row fields">
	<div class="form-group">	
		<!-- <div class="fallback"> -->
  		<%= f.file_field :image %><br>
  		<%#= f.submit "Upload" %>
		<!-- </div> -->
		<div class="col-xs-5">
    	<%= link_to_remove_fields "remove", f %>
		</div>
	</div>
</div>