<!-- .page-content -->
<div class="page-content sidebar-page right-sidebar-page clearfix">
  <!-- .page-content-wrapper -->
  <div class="page-content-wrapper">
    <div class="page-content-inner">
      <!-- Start .page-content-inner -->
      <!-- Start .row -->
      <div class="row">
        <div class="col-lg-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Listing admin_products</h4>
            </div>
            <div class="panel-body">
              <table id="responsive-datatables" class="table table-bordered table-striped table-hover dt-responsive non-responsive" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Slug</th>
                    <th>Meta description</th>
                    <th>Meta keywords</th>
                    <th>Publish date</th>
                    <th>Vendor</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody id="product-list">
                  <%= render @products %>
                </tbody>
              </table>
              <br>
              <%= link_to 'New Product', new_admin_product_path, remote: true %>
            </div>
          </div>
          <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .page-content-inner -->
  </div>
  <!-- / page-content-wrapper -->
</div>
    <!-- / page-content -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>

<!-- <script>
window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<script type="text/javascript">
</script> -->