@import "bootstrap-sprockets";
@import "bootstrap";
@import "icons.css";
@import "dropzone/basic";
@import "plugins.css";
@import "main.css";
@import "custom.css";
@import "messages.css.scss";
@import "config_emails.css.scss";
@import "jquery-filestyle.css";
@import "summernote.css";
@import "vendors.css.scss";
@import "accounts.css.scss";


#flash_alert {
    color: #db5565;
    text-align: center;
}

.pg_top {
    padding-top: 50px;
}

#error-msg .alert-notice {
    background-color: #b2ede8;
    border-color: #63c8be;
    color: #0a776c;

}
body {
  padding-top: 0 !important;
}