.email-wrapper {
  .list-group {
    .unread_message {
      font-weight: bold;
    }
    .container_message {

      .list-group-item {

        .email-inbox-info {
          .link_star {
            color: grey;
            font-size: 15px;

            .starred_true {
              color: #FFFF00;
            }
          }
          .link_important {
            color: grey;
            font-size: 15px;

            .important_true {
              color: firebrick;
            }
          }
        }
      }
    }
  }
  .email-write {
    .form-group {
      .pull-left {
        .jfilestyle {
          input {
            display: none;
          }
          .focus-jfilestyle {
            label {
              border: none;
            }
          }
        }
      }
      .note-editor {
        .note-btn-group {
          .note-btn {
            i:before {
              font-family: FontAwesome;
            }
            span:before {
              font-family: FontAwesome;
            }
          }
        }
      }
    }
  }
  .email-read-reply {
    .note-editor {
      .note-btn-group {
        .note-btn {
          i:before {
            font-family: FontAwesome;
          }
          span:before {
            font-family: FontAwesome;
          }
        }
      }
    }

  }
}

