<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% if params[:action] == "new" %>
      	<h4 class="modal-title">New channel</h4>
      <% else %>
      	<h4 class="modal-title">Edit channel</h4>
      <% end %>
    </div>
    <%= form_for [:admin, @channel], remote: :true do |f| %>
	    <div class="modal-body">
				<div class="form-group">
          <label class="col-lg-2 col-md-3 control-label" for="">Title</label>
          <div class="col-lg-10 col-md-9">
            <%= f.text_field :title, placeholder: "Enter channel name", required: true, class: "form-control" %>
          </div>
        </div>
	    </div>
	    <div class="modal-footer">
	    	<div class="field col-xs-12">
	    		<% if params[:action] == "new" %>
						<%= button_to "Save",nil, class: "btn btn-primary" %>
					<% else %>
						<%= button_to "Update",nil, class: "btn btn-primary" %>
					<% end %>
				</div>
	    </div>
    <% end %>
  </div>
</div> 
