<div id="footer" class="clearfix sidebar-page right-sidebar-page">
  <p class="pull-left">
    Copyrights &copy; ©2016 Copyright Arbor Gentry, LLC.  D/B/A TandemArbor.com
  </p>
  <p class="pull-right">
    <a href="#" class="mr5">Terms of use</a>
    |
    <a href="#" class="ml5 mr25">Privacy police</a>
  </p>
</div>