<!--<div class="row header-strip">-->
<!--to the trade only-->
<!--</div>-->
<!--<div class="row top-user-nav">-->
<!--<ul class="top-user-nav-links">-->
    <!--<li><a href="#">Customer Service</a></li> |-->
    <!--<li><a href="#">Our Story</a></li> |-->
    <!--<li><a href="<%#=  new_vendor_registration_path %>">Sign up</a></li> |-->
    <!--<li><a href="<%#= new_vendor_session_path %>">Login</a></li>-->
<!--</ul>-->
<!--<div class="ref-url">-->
    <!--<span>www</span>.tandomarbor.<span>com</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="logo-wrap" align="right">-->
<!--<img src="/assets/logo-transperent.png" id="logo" class="img-responsive hidden-sm hidden-xs" alt="">-->
<!--<img src="/assets/home_logo.png" id="logo-sm" class="img-responsive visible-sm visible-xs" alt="">-->
<!--<div class="search-bar">-->
    <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">-->
        <!--<span class="input-group-addon" id="search"><img src="/assets/search-ico.png" class="img-responsive" alt=""></span>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="main-link-wrap row">-->
<!--<ul class="main-links">-->
    <!--<span id="side-bar-toggle-btn" class="btn glyphicon glyphicon-menu-hamburger"></span>-->
    <!--<li><a href="#" class="active">Collection</a></li>-->
    <!--<li><a href="#">seating</a></li>-->
    <!--<li><a href="#">customize</a></li>-->
<!--</ul>-->
<!--</div>-->

<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-white nav-border-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <!-- logo -->
      <div class="col-md-2 pull-left"><a class="logo-light" href="html/index.html"><img alt="" src="/assets/shop_images/logo-white.png" class="logo" /></a><a class="logo-dark" href="html/index.html"><img alt="" src="/assets/shop_images/logo-light.png" class="logo" /></a></div>
      <!-- end logo -->
      <!-- search and cart  -->
      <div class="col-md-2 no-padding-left search-cart-header pull-right">
        <div id="top-search">
          <!-- nav search -->
          <a href="#search-header" class="header-search-form"><i class="fa fa-search search-button"></i></a>
          <!-- end nav search -->
        </div>
        <!-- search input-->
        <form id="search-header" method="post" action="#" name="search-header" class="mfp-hide search-form-result">
          <div class="search-form position-relative">
            <button type="submit" class="fa fa-search close-search search-button"></button>
            <input type="text" name="search" class="search-input" placeholder="Enter your keywords..." autocomplete="off">
          </div>
        </form>
        <!-- end search input -->
        <div class="top-cart">
          <!-- nav shopping bag -->
          <a href="#" class="shopping-cart">
            <i class="fa fa-shopping-cart"></i>
            <div class="subtitle">(1) Items</div>
          </a>
          <!-- end nav shopping bag -->
          <!-- shopping bag content -->
          <div class="cart-content">
            <ul class="cart-list">
              <li>
                <a title="Remove item" class="remove" href="#">×</a>
                <a href="#">
                  <img width="90" height="90" alt="" src="http://placehold.it/90x90">Leather Craft
                </a>
                <span class="quantity">1 × <span class="amount">$160</span></span>
                <a href="#">Edit</a>
              </li>
            </ul>
            <p class="total">Subtotal: <span class="amount">$160</span></p>
            <p class="buttons">
              <a href="html/shop-cart.html" class="btn btn-very-small-white no-margin-bottom margin-seven pull-left no-margin-lr">View Cart</a>
              <a href="html/shop-checkout.html" class="btn btn-very-small-white no-margin-bottom margin-seven no-margin-right pull-right">Checkout</a>
            </p>
          </div>
          <!-- end shopping bag content -->
        </div>
      </div>
      <!-- end search and cart  -->
      <!-- toggle navigation -->
      <div class="navbar-header col-sm-8 col-xs-2 pull-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <!-- toggle navigation end -->
      <!-- main menu -->
      <div class="col-md-8 no-padding-right accordion-menu text-right">
        <div class="navbar-collapse collapse">
          <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
            <!-- menu item -->
            <li class="dropdown panel">
              <a href="#collapse1" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Home <i class="fa fa-angle-down"></i></a>
              <!-- sub menu -->
              <ul id="collapse1" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                <!-- sub menu column  -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Pre Made Homepage</li>
                    <li><a href="html/index.html">Home main</a></li>
                    <li><a href="html/home-fashion.html">Home fashion</a></li>
                    <li><a href="html/home-architecture.html">Home architecture</a></li>
                    <li><a href="html/home-spa.html">Home spa</a></li>
                    <li><a href="html/home-agency.html">Home agency</a></li>
                    <li><a href="html/home-restaurant.html">Home restaurant</a></li>
                    <li><a href="html/home-travel-agency.html">Home travel agency</a></li>
                    <li><a href="html/home-corporate.html">Home corporate</a></li>
                    <li><a href="html/home-photography.html">Home photography</a></li>

                    <li><a href="html/home-shop.html">Home shop</a></li>
                    <li><a href="html/home-blog.html">Home blog</a></li>
                    <li><a href="html/home-blog-grid.html">Home blog grid</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- sub menu column end -->
                <!-- sub menu column -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Other</li>
                    <li><a href="html/home-masonry-portfolio.html">Home - masonry portfolio</a></li>
                    <li><a href="html/home-background-slider.html">Home - background slider</a></li>
                    <li><a href="html/home-full-screen-video.html">Home - full screen video</a></li>
                    <li><a href="html/home-half-screen-video.html">Home - half screen video</a></li>
                    <li><a href="html/home-text-rotator.html">Home - text rotator</a></li>
                    <li><a href="html/home-countdown-timer.html">Home - coming soon</a></li>
                    <li><a href="html/home-countdown-timer-animation.html">Home - coming soon (Animation) <span class="menu-new">new</span></a></li>
                    <li><a href="html/home-countdown-timer-video.html">Home - coming soon (video)</a></li>
                    <li><a href="html/home-full-width-image.html">Home - full width image</a></li>
                    <li><a href="html/home-gradient-with-image.html">Home - gradient with image</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- end sub menu column  -->
                <!-- sub menu column  -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Parallax Image / Typography</li>
                    <li><a href="html/home-parallax1.html">Parallax Image - option 1 </a></li>
                    <li><a href="html/home-parallax2.html">Parallax Image - option 2</a></li>
                    <li><a href="html/home-parallax3.html">Parallax Image - option 3 </a></li>
                    <li><a href="html/home-parallax4.html">Parallax Image - option 4</a></li>
                    <li><a href="html/home-parallax5.html">Parallax Image - option 5</a></li>
                    <li><a href="html/home-parallax.html">Full parallax home page</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Carousel slider</li>
                    <li><a href="html/home-slider-bootstrap.html">Bootstrap slider - full screen</a></li>
                    <li><a href="html/home-slider-revolution1.html">Revolution slider - full screen</a></li>
                    <li><a href="html/home-slider-revolution2.html">Revolution slider - half screen</a></li>
                    <li><a href="html/home-slider-owl1.html">owl slider - full screen</a></li>
                    <li><a href="html/home-slider-owl2.html">owl slider - half screen</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- end sub menu column  -->
                <!-- sub menu column  -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Creative Intro Pages</li>
                    <li><a href="html/intro-fashion.html">Fashion Intro</a></li>
                    <li><a href="html/intro-restaurant.html">Restaurant Intro</a></li>
                    <li><a href="html/intro-travel.html">Travel Intro</a></li>
                    <li><a href="html/intro-travel2.html">Travel Intro - V2</a></li>
                    <li><a href="html/intro-agency.html">Agency Intro</a></li>
                    <li><a href="html/intro-agency2.html">Agency Intro - V2</a></li>
                    <li><a href="html/intro-product.html">Product Intro</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- end sub menu column  -->
              </ul>
              <!-- end sub menu -->
            </li>
            <!-- end menu item -->
            <!-- menu item -->
            <li class="dropdown panel">
              <a href="#collapse2" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">One Page <i class="fa fa-angle-down"></i></a>
              <!-- sub menu -->
              <ul id="collapse2" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Pre Made Homepage</li>
                    <li><a href="html/onepage-bootstrap-slider.html">Home main</a></li>
                    <li><a href="html/onepage-fashion.html">Home fashion</a></li>
                    <li><a href="html/onepage-architecture.html">Home architecture</a></li>
                    <li><a href="html/onepage-spa.html">Home spa</a></li>
                    <li><a href="html/onepage-agency.html">Home agency</a></li>
                    <li><a href="html/onepage-agency-option2.html">Home agency - option 2 <span class="menu-new">new</span></a></li>
                    <li><a href="html/onepage-restaurant.html">Home restaurant</a></li>
                    <li><a href="html/onepage-travel-agency.html">Home travel agency</a></li>
                    <li><a href="html/onepage-corporate.html">Home corporate</a></li>
                    <li><a href="html/onepage-personal.html">Home personal</a></li>
                    <li><a href="html/onepage-wedding.html">Home wedding</a></li>
                    <li><a href="html/onepage-landing.html">Landing page</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Parallax Image / Typography</li>
                    <li><a href="html/onepage-parallax1.html">Parallax Image - option 1 </a></li>
                    <li><a href="html/onepage-parallax2.html">Parallax Image - option 2</a></li>
                    <li><a href="html/onepage-parallax3.html">Parallax Image - option 3 </a></li>
                    <li><a href="html/onepage-parallax4.html">Parallax Image - option 4</a></li>
                    <li><a href="html/onepage-parallax5.html">Parallax Image - option 5</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Other</li>
                    <li><a href="html/onepage-masonry-portfolio.html">Home - masonry portfolio</a></li>
                    <li><a href="html/onepage-background-slider.html">Home - background slider</a></li>
                    <li><a href="html/onepage-full-screen-video.html">Home - full screen video</a></li>
                    <li><a href="html/onepage-text-rotator.html">Home - text rotator</a></li>
                    <li><a href="html/onepage-full-width-image.html">Home - full width image</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Carousel slider</li>
                    <li><a href="html/onepage-bootstrap-slider.html">Bootstrap slider - full screen</a></li>
                    <li><a href="html/onepage-slider-revolution1.html">Revolution slider - full screen</a></li>
                    <li><a href="html/onepage-slider-revolution2.html">Revolution slider - half screen</a></li>
                    <li><a href="html/onepage-slider-owl1.html">owl slider - full screen</a></li>
                    <li><a href="html/onepage-slider-owl2.html">owl slider - half screen</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
              </ul>
              <!-- end sub menu -->
            </li>
            <!-- end menu item -->
            <!-- menu item -->
            <li class="dropdown panel">
              <a href="#collapse5" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
              <!-- sub menu -->
              <ul id="collapse5" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Grid</li>
                    <li><a href="html/portfolio-grid-2columns.html">2 Columns</a></li>
                    <li><a href="html/portfolio-grid-3columns.html">3 Columns</a></li>
                    <li><a href="html/portfolio-grid-4columns.html">4 Columns</a></li>
                    <li><a href="html/portfolio-grid-5columns.html">5 Columns</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Grid - Gutter</li>
                    <li><a href="html/portfolio-grid-gutter-2columns.html">2 Columns</a></li>
                    <li><a href="html/portfolio-grid-gutter-3columns.html">3 Columns</a></li>
                    <li><a href="html/portfolio-grid-gutter-4columns.html">4 Columns</a></li>
                    <li><a href="html/portfolio-grid-gutter-5columns.html">5 Columns</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Grid with Title</li>
                    <li><a href="html/portfolio-grid-with-title-2columns.html">2 Columns</a></li>
                    <li><a href="html/portfolio-grid-with-title-3columns.html">3 Columns</a></li>
                    <li><a href="html/portfolio-grid-with-title-4columns.html">4 Columns</a></li>
                    <li><a href="html/portfolio-grid-with-title-5columns.html">5 Columns</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Wide</li>
                    <li><a href="html/portfolio-wide-2columns.html">2 Columns</a></li>
                    <li><a href="html/portfolio-wide-3columns.html">3 Columns</a></li>
                    <li><a href="html/portfolio-wide-4columns.html">4 Columns</a></li>
                    <li><a href="html/portfolio-wide-5columns.html">5 Columns</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Wide - Gutter</li>
                    <li><a href="html/portfolio-wide-gutter-2columns.html">2 Columns</a></li>
                    <li><a href="html/portfolio-wide-gutter-3columns.html">3 Columns</a></li>
                    <li><a href="html/portfolio-wide-gutter-4columns.html">4 Columns</a></li>
                    <li><a href="html/portfolio-wide-gutter-5columns.html">5 Columns</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Wide with Title</li>
                    <li><a href="html/portfolio-wide-with-title-2columns.html">2 Columns</a></li>
                    <li><a href="html/portfolio-wide-with-title-gutter-3columns.html">3 Columns</a></li>
                    <li><a href="html/portfolio-wide-with-title-gutter-4columns.html">4 Columns</a></li>
                    <li><a href="html/portfolio-wide-with-title-gutter-5columns.html">5 Columns</a></li>
                  </ul>
                  <!-- sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Masonry</li>
                    <li><a href="html/portfolio-masonry-2columns.html">2 Columns</a></li>
                    <li><a href="html/portfolio-masonry-3columns.html">3 Columns</a></li>
                    <li><a href="html/portfolio-masonry-4columns.html">4 Columns</a></li>
                    <li><a href="html/portfolio-masonry-5columns.html">5 Columns</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Other</li>
                    <li><a href="html/portfolio-parallax.html">Parallax</a></li>
                    <li><a href="html/portfolio-short-description.html">With Short Description</a></li>
                    <li><a href="html/portfolio-lightbox.html">Portfolio lightbox</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Single Project Page</li>
                    <li><a href="html/single-project-page1.html">Single Project Page 1</a></li>
                    <li><a href="html/single-project-page2.html">Single Project Page 2</a></li>
                    <li><a href="html/single-project-page3.html">Single Project Page 3</a></li>
                    <li><a href="html/single-project-page4.html">Single Project Page 4</a></li>
                    <li><a href="html/single-project-page5.html">Single Project Page 5</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Ajax - Project Page</li>
                    <li><a href="html/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Single Project Page 1</a></li>
                    <li><a href="html/onepage-single-project-page2.html" class="simple-ajax-popup-align-top">Single Project Page 2</a></li>
                    <li><a href="html/onepage-single-project-page3.html" class="simple-ajax-popup-align-top">Single Project Page 3</a></li>
                    <li><a href="html/onepage-single-project-page4.html" class="simple-ajax-popup-align-top">Single Project Page 4</a></li>
                    <li><a href="html/onepage-single-project-page5.html" class="simple-ajax-popup-align-top">Single Project Page 5</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
              </ul>
              <!-- end sub menu -->
            </li>
            <!-- end menu item -->
            <!-- menu item -->
            <li class="dropdown panel">
              <a href="#collapse4" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Pages <i class="fa fa-angle-down"></i></a>
              <!-- sub menu -->
              <ul id="collapse4" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                <!-- sub menu column  -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Introduction</li>
                    <li><a href="html/about-us.html">About Us</a></li>
                    <li><a href="html/about-us-option2.html">About Us - Option 2 <span class="menu-new">new</span></a></li>
                    <li><a href="html/team-members.html">Team Members</a></li>
                    <li><a href="html/testimonials.html">Testimonials</a></li>
                    <li><a href="html/our-clients.html">Our Clients</a></li>
                    <li><a href="html/careers.html">Careers</a></li>
                    <li><a href="html/contact-us.html">Contact Us</a></li>
                    <li><a href="html/sitemap.html">Sitemap</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- end sub menu column  -->
                <!-- sub menu column  -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Utility</li>
                    <li><a href="html/services.html">Services</a></li>
                    <li><a href="html/faq.html">FAQ'S</a></li>
                    <li><a href="html/login.html">Login</a></li>
                    <li><a href="html/register.html">Register</a></li>
                    <li><a href="html/404.html">Not Found (404)</a></li>
                    <li><a href="html/maintenance.html">Maintenance Page</a></li>
                    <li><a href="html/home-countdown-timer.html">Under Construction</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- end sub menu column  -->
                <!-- sub menu column  -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Page Layout</li>
                    <li><a href="html/page-full-width.html">Full Width</a></li>
                    <li><a href="html/page-full-width-wide.html">Full Width - Wide</a></li>
                    <li><a href="html/page-left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="html/page-right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="html/page-both-sidebar.html">Both Sidebar</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- end sub menu column  -->
                <!-- sub menu column  -->
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Gallery</li>
                    <li><a href="html/gallery-1columns.html">1 Columns</a></li>
                    <li><a href="html/gallery-2columns.html">2 Columns</a></li>
                    <li><a href="html/gallery-3columns.html">3 Columns</a></li>
                    <li><a href="html/gallery-4columns.html">4 Columns</a></li>

                    <li><a href="html/gallery-6columns.html">6 Columns</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <!-- end sub menu column  -->
              </ul>
              <!-- end sub menu -->
            </li>
            <!-- end menu item -->
            <!-- menu item -->
            <li class="dropdown panel">
              <a href="#collapse3" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Elements<i class="fa fa-angle-down"></i></a>
              <!-- sub menu -->
              <ul id="collapse3" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Slider</li>
                    <li><a href="html/slider-bootstrap.html">Bootstrap</a></li>
                    <li><a href="html/slider-revolution.html">Revolution</a></li>
                    <li><a href="html/slider-owl.html">Owl</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Header</li>
                    <li><a href="html/header-light.html">Light Version</a></li>
                    <li><a href="html/header-light-without-cart-search.html">Light Version - Option 2 <span class="menu-new">new</span></a></li>
                    <li><a href="html/header-dark.html">Dark Version</a></li>
                    <li><a href="html/header-transparent-dark.html">Transparent Version - Dark</a></li>
                    <li><a href="html/header-transparent-light.html">Transparent Version - Light</a></li>
                    <li><a href="html/header-static-sticky.html">Static Sticky</a></li>
                    <li><a href="html/onepage-hamburger.html">Hamburger Menu <span class="menu-new">new</span></a></li>
                    <li><a href="html/onepage-hamburger-option2.html">Hamburger Menu - Option 2 <span class="menu-new">new</span></a></li>
                    <li><a href="html/onepage-agency-option2.html">Hamburger Menu - Option 3 <span class="menu-new">new</span></a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Page Titles</li>
                    <li><a href="html/page-title-white.html">Title white</a></li>
                    <li><a href="html/page-title-gray.html">Title gray</a></li>
                    <li><a href="html/page-title-dark-gray.html">Title dark gray</a></li>
                    <li><a href="html/page-title-black.html">Title black</a></li>
                    <li><a href="html/page-title-with-image.html">Title with image</a></li>
                    <li><a href="html/page-title-large.html">Title large</a></li>
                    <li><a href="html/page-title-small-white.html">Title small white</a></li>
                    <li><a href="html/page-title-small-gray.html">Title small gray</a></li>
                    <li><a href="html/page-title-small-dark-gary.html">Title small dark gray</a></li>
                    <li><a href="html/page-title-small-black.html">Title small black</a></li>
                    <li><a href="html/page-title-center-align.html">Title center align</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>

                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Other</li>
                    <li><a href="html/accordions.html"><i class="fa fa-plus-square"></i>Accordions</a></li>
                    <li><a href="html/progress-bar.html"><i class="fa fa-tasks"></i>Progress Bar</a></li>
                    <li><a href="html/buttons.html"><i class="fa fa-link"></i>Buttons</a></li>
                    <li><a href="html/features-box.html"><i class="fa fa-th-large"></i>Features Box</a></li>
                    <li><a href="html/form.html"><i class="fa fa-align-justify"></i>Form</a></li>
                    <li><a href="html/grid.html"><i class="fa fa-th"></i>Grid</a></li>
                    <li><a href="html/icons-et-line.html"><i class="fa fa-star-o"></i>Icons Et-line</a></li>
                    <li><a href="html/icons-font-awesome.html"><i class="fa fa-star"></i>Icons Font Awesome</a></li>
                    <li><a href="html/alert-massage.html"><i class="fa fa-comment"></i>Alert massage</a></li>
                    <li><a href="html/tabs.html"><i class="fa fa-outdent"></i>Tabs</a></li>
                    <li><a href="html/typography.html"><i class="fa fa-font"></i>Typography</a></li>
                    <li><a href="html/video-sound.html"><i class="fa fa-video-camera"></i>Video / Sound</a></li>
                    <li><a href="html/counter-and-skills.html"><i class="fa fa-circle-o-notch"></i>Counter and Skills</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Image Gallery</li>
                    <li><a href="html/single-image-lightbox.html">Single Image Lightbox</a></li>
                    <li><a href="html/lightbox-gallery.html">Lightbox Gallery</a></li>
                    <li><a href="html/zoom-gallery.html">Zoom gallery</a></li>
                    <li><a href="html/popup-with-form.html">Popup with Form</a></li>
                    <li><a href="html/modal-popup.html">Modal Popup</a></li>
                    <li><a href="html/open-youtube-video.html">Open YouTube Video</a></li>
                    <li><a href="html/open-vimeo-video.html">Open Vimeo Video</a></li>
                    <li><a href="html/open-google-map.html">Open Google Map</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
              </ul>
              <!-- end sub menu -->
            </li>
            <!-- end menu item -->
            <!-- menu item -->
            <li class="dropdown panel">
              <a href="#collapse6" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Blog <i class="fa fa-angle-down"></i></a>
              <!-- sub menu -->
              <ul id="collapse6" class="dropdown-menu panel-collapse collapse mega-menu-full" role="menu">
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Grid</li>
                    <li><a href="html/blog-grid-2columns.html">2 Columns</a></li>
                    <li><a href="html/blog-grid-3columns.html">3 Columns</a></li>
                    <li><a href="html/blog-grid-4columns.html">4 Columns</a></li>
                    <li><a href="html/blog-grid-full-width.html">Full width</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Masonry</li>
                    <li><a href="html/blog-masonry-2columns.html">2 Columns</a></li>
                    <li><a href="html/blog-masonry-3columns.html">3 Columns</a></li>
                    <li><a href="html/blog-masonry-4columns.html">4 Columns</a></li>
                    <li><a href="html/blog-masonry-full-width.html">Full width</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Default</li>
                    <li><a href="html/blog-right-sidebar.html">Right sidebar</a></li>
                    <li><a href="html/blog-left-sidebar.html">Left sidebar</a></li>
                    <li><a href="html/blog-full-width.html">Full width</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
                <li class="mega-menu-column col-sm-3">
                  <!-- sub menu item  -->
                  <ul>
                    <li class="dropdown-header">Single</li>
                    <li><a href="html/blog-single-right-sidebar.html">Right sidebar</a></li>
                    <li><a href="html/blog-single-left-sidebar.html">Left sidebar</a></li>
                    <li><a href="html/blog-single-full-width.html">Full width</a></li>
                    <li><a href="html/blog-single-full-width-with-image-slider.html">Full width with image slider</a></li>
                    <li><a href="html/blog-single-full-width-with-lightbox-gallery.html">Full width with lightbox gallery</a></li>
                  </ul>
                  <!-- end sub menu item  -->
                </li>
              </ul>
              <!-- end sub menu -->
            </li>
            <!-- end menu item -->
            <!-- menu item -->
            <li class="dropdown panel simple-dropdown">
              <a href="#collapse7" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Shop <i class="fa fa-angle-down"></i></a>
              <!-- sub menu single -->
              <!-- sub menu item  -->
              <ul id="collapse7" class="dropdown-menu panel-collapse collapse" role="menu">
                <li class="dropdown-header">For Shopping Cart</li>
                <li><a href="html/home-shop.html">Shop homepage</a></li>
                <li><a href="html/shop-with-sidebar.html">Shop with sidebar - grid</a></li><li><a href="html/shop-with-sidebar-list.html">Shop with sidebar - list</a></li>
                <li><a href="html/shop-full-width.html">Shop full width</a></li>
                <li><a href="html/shop-single-product.html">Single product</a></li>
                <li><a href="html/shop-cart.html">Cart</a></li>
                <li><a href="html/shop-checkout.html">Checkout</a></li>
              </ul>
              <!-- end sub menu item  -->
              <!-- end sub menu single -->
            </li>
            <!-- end menu item -->
          </ul>
        </div>
      </div>
      <!-- end main menu -->
    </div>
  </div>
</nav>