<div class="row header-strip">
to the trade only
</div>
<div class="row top-user-nav">
<ul class="top-user-nav-links">
    <li><a href="#">Customer Service</a></li> |
    <li><a href="#">Our Story</a></li> |
    <li><a href="#">My Account</a></li>
</ul>
<div class="ref-url">
    <span>www</span>.tandomarbor.<span>com</span>
</div>
</div>
<div class="logo-wrap" align="right">
<img src="/assets/logo-transperent.png" id="logo" class="img-responsive hidden-sm hidden-xs" alt="">
<img src="/assets/home_logo.png" id="logo-sm" class="img-responsive visible-sm visible-xs" alt="">
<div class="search-bar">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="search"><img src="/assets/search-ico.png" class="img-responsive" alt=""></span>
    </div>
</div>
</div>
<div class="main-link-wrap row">
<ul class="main-links">
    <span id="side-bar-toggle-btn" class="btn glyphicon glyphicon-menu-hamburger"></span>
    <li><a href="#" class="active">Collection</a></li>
    <li><a href="#">seating</a></li>
    <li><a href="#">customize</a></li>
</ul>
</div>